body {
    background-image: url(image/pexels-cottonbro-5474039.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    opacity: 0.4;
    color: aliceblue;
  }
  
  nav {
    background-color: #333333;
    padding: 1em;
    position: sticky;
    top: 0;
  }
  
  nav a {
    color: rgb(214, 213, 213);
    margin: 0 15px;
  }
  
  section {
    padding: 40px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  